/* MILK - #f6f5f4 */
/* GREY - #dddfd4 */
/* YELLOW - #fae596 */
/* TEAL - #3fb0ac */
/* FOREST - #173e43 */
/* PINK PEPPERCORN - #e66151 */


@import url('https://fonts.googleapis.com/css?family=Hind|Open+Sans|Dancing+Script');

body {
  background-color: #f6f5f4;
  text-rendering: optimizeLegibility;
}
body, h6, h7,
p, label, 
input, input[type="text"], input[type="number"], login input[type="password"], 
button, .ui-menu-item {
  font-family: 'Open Sans', "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  color: #404549;
}
h1 {
  color: #173e43;
  font-family: 'Dancing Script', 'Hind', "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;  ;	
}
h2, h3, h4, h5 {
  color: #173e43;
  font-family: 'Hind', "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "Helvetica", sans-serif;  
}
.center {
  text-align: center !important;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.italic {
  font-style: italic;
}
.bold {
  font-style: bold;
}
h5 {
  text-transform: uppercase;
}
a,
a:active,
a:hover,
a:visited {
  color: #404549;	
}
.dotted,
.dotted:active,
.dotted:visited,
a.dotted,
a.dotted:active,
a.dotted:visited,
h1 a,
h1 a:active,
h1 a:visited,
li a,
li a:active,
li a:visited,
p a,
p a:active,
p a:visited {
  border-bottom: 1px dotted #404549; 
  color: #404549;	
  cursor: pointer;
  margin-bottom: 0px !important;
  padding-bottom: -3px !important;
  text-decoration: none;
}
a:hover,
h1 a:hover,
li a:hover,
p a:hover {
  background-color: #fae596;
  border-bottom: none !important;  
}
hr {
  margin: 30px 0;
}

/* DIVS
--------------------------------------------------- */

div.header {
  background-color: #E66151;
  color: #fff;
  padding: 5px 20px 20px 20px;
  margin: 0 0 30px 0;
  text-align: left;
}
div.header h1 {
  color: #fff;
  margin: 5px 0;	
}
div.header p {
  color: #fff;
  font-size: 12pt;
  font-style: italic;
  margin: 5px 0;
}
div.footer {
  background-color: #173e43;
  color: #fff;
  padding: 20px;
  margin: 20px 0 0px 0;
  text-align: left;
}
div.footer h5 {
  color: #fff;
  margin: 0;
}
div.container {
  margin-bottom: 100px;
}
div.border,
hr {
  background: repeating-linear-gradient(
    45deg,
    #3fb0ac,
    #3fb0ac 6px,
    #fff 6px,
    #fff 12px
  );	
  border: none;
  margin: 80px -2.5%;
  min-height: 20px;
  min-width: 105%;
}
div.avatar {
  border-radius: 50%;
  display: inline-block; 
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
div.about-plus-equals {
  display: inline-block; 
  margin-left: 0px;
  margin-right: 20px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
div.buy,
div.photo {
  text-align: center;
  width: 100%;
}
div.buy {
  margin-bottom: 30px;
}
div.about {
  background-color: #dddfd4;
  border-top: 8px solid #3fb0ac;
  padding: 0 20px 20px 20px;
  margin-top: 100px;
}

/* TABLES
--------------------------------------------------- */

th {
  border: none !important;
  font-weight: bold;
}

/* IMAGES
-------------------------------------------------- */

div.photo img,
img.photo {
  box-shadow: 0 0 3px #54301a;
  border: 3px solid white;
  overflow: hidden;
  margin: 30px 0;
  max-height: 300px;
  max-width: 300px;
}


/* BUTTONS
-------------------------------------------------- */

.btn {
  cursor: pointer; 
  cursor: hand;
  font-weight: 200;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: none !important;
  text-transform: uppercase;	
}
.btn-peppercorn {
  background-color: #e66151 !important;
  border-color: 1px solid #e66151;
}
.btn-peppercorn,
.btn-peppercorn i {
  color: white;
}
.btn-peppercorn:hover {
  background-color: #fff !important;
  border-color: 1px solid #fff;
}
.btn-peppercorn:hover,
.btn-peppercorn:hover i {
  color: #e66151 !important;	
}
.btn-teal {
  background-color: #3fb0ac !important;
  border-color: 1px solid #3fb0ac;
  color: white;
}
.btn-teal:hover {
  background-color: #fff !important;
  border: 1px solid #3fb0ac !important;
}
.btn-teal:hover,
.btn-teal:hover i {
  color: #3fb0ac !important;	
}
.btn-white {
  background-color: #fff !important;
  border: 1px solid #3fb0ac !important;  	
}
.btn-white, .btn-white i {
  color: #3fb0ac !important;	
}
.btn-white:hover {
  background-color: #3fb0ac !important;
  border: 1px solid #3fb0ac !important;
  color: #fff !important;
}
.btn-white:hover i {
  color: #fff !important;
}
#hide-list {
  display: none;
}
#backToTop {
  position: fixed; 
  bottom: 20px;
  right: 20px;
  display: none;

  border-radius: 5px;
  box-shadow: rgba(204, 204, 204, 0.5) 1px 1px 9px 2px; 
  margin: 0;
  padding: 12px;
}

/* RESPONSIVE
--------------------------------------------------- */

@media(max-width:766px){
  .hide-under-768 {
    display: none !important;	
  }
  .show-under-768 {
    display: inline;	
  }
  h1 {
    font-size: 24pt;
    margin: 10px 0 30px 0;
    padding: 5px 0;	
  }
  h2 {
    margin-top: 50px;	
  }
  h3 {
	font-size: 18pt;
    margin: 30px 0;	
  }
  h4 {
    font-size: 14pt;
    line-height: 20pt;
    margin: 0 0 20px 0;
  }
  h5 { /* SECTION HEADER */
    font-size: 9pt !important;
    letter-spacing: .1em;
    line-height: 20pt;
    margin: 20px 0 0 0;
  }
  h6 { /* FEATURE TEXT */
    font-size: 18pt;
    line-height: 24pt;
  }
  p {
    font-size:  12pt;
    line-height: 18pt;
  }
  span.container-header {
    font-size: 11pt;	
  }
  span.container-data {
    font-size: 18pt;  	
  }
  span.container-meta {
    font-size: 11pt;  	
  }
  span.container-tiny {
	color: #999;
    font-size: 7pt !important;  	
  }
  .datetime {
    font-size: 9pt;  	
  }
  .nav-left {
    font-size: 20pt;
  }
  .nav-right {
    font-size: 12pt;	
  }
  .nav-bars {
    display: inline-block;	
  }
  div.container {
  }
  .btn {
    border-radius: 14px !important;
    font-size: 7pt !important;
    min-width: 80px;
    padding: 5px 7px !important;
  }
  th.shopping-list-type,
  th.shopping-list-time,
  td.shopping-list-type,
  td.shopping-list-time {
	 display: none;
  }
  #shopping-list {
    font-size: 10pt;	
  }
  div.avatar, div.avatar img {
    width: 40px;
    height: 40px; 
  }
  div.about-plus-equals {
    padding-top: 0px;
    font-size: 14pt;	
  }
}
@media(min-width:767px){
  .hide-under-768 {
    display: inline;	
  }
  .show-under-768 {
    display: none;	
  }
  h1 {
    font-size: 42pt;
    margin: 10px 0 50px 0;
    padding: 5px 0;	
  }
  h2 {
    margin: 0 0 30px 0;	
  }
  h3 {
    margin: 30px 0;	
  }
  h4 {
    margin: 0 0 20px 0;
  }
  h5 { /* SECTION HEADER */
    font-size: 9pt !important; /* 14pt; */ 
    letter-spacing: .1em;
    line-height: 20pt; /* 24pt; */ 
    margin: 20px 0 0 0;
  }
  h6 { /* FEATURE TEXT */
    font-size: 18pt; /* 24pt; */
    line-height: 24pt; /* 36pt; */
  }
  p {
    font-size:  14pt;
    line-height: 20pt;
  }
  .btn {
    border-radius: 14px !important;
    font-size: 8pt !important;
    min-width: 100px;
    padding: 7px 12px !important;
  }
  th.shopping-list-type,
  th.shopping-list-time,
  td.shopping-list-type,
  td.shopping-list-time {
	 display: table-cell;
  }
  #shopping-list {
    font-size: 11pt;	
  }
  div.avatar, div.avatar img {
    width: 75px;
    height: 75px; 
  }
  div.about-plus-equals {
	height: 75px;
	line-height: 75px;
    font-size: 16pt;
    vertical-align: top;
  }

}